<html>
<head>
<script type="text/javascript" src="https://1tools.co/BootstrapPageGenerator/js/jquery-2.0.0.min.js"></script>
<script type="text/javascript" src="https://1tools.co/BootstrapPageGenerator/js/jquery-ui.js"></script>
<link href="https://1tools.co/BootstrapPageGenerator/css/bootstrap-combined.min.css" rel="stylesheet" media="screen">
<script type="text/javascript" src="https://1tools.co/BootstrapPageGenerator/js/bootstrap.min.js"></script>
</head>
<body>
<div class="container">
	<div class="row">
		<div class="col-xs-12">
			<h1>
				<span>Kaspersky_Hack_Mvp</span>
			</h1>
			<div class="row">
				<div class="col-xs-4">
				</div>
				<div class="col-xs-4">
					<p>
						Авторизоватся с помощью аккаунта Steam
					</p>
					

					<form action="/login" method="post">
						<input type="submit" value="Авторизоватся с помощью Steam" />
					</form>
					 
				</div>
				<div class="col-xs-4">
				</div>
			</div>
		</div>
	</div>
</div>
</body>
</html>